<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-revenuecatshim" version="0.0.1">
  <name>RevenueCatShim</name>
  <js-module name="RevenueCatShim" src="www/RevenueCatShim.js">
    <clobbers target="window.RevenueCat"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="RevenueCatShim">
        <param name="android-package" value="cordova-plugin-revenuecatshim.RevenueCatShim"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/RevenueCatShim.java" target-dir="src/cordova-plugin-revenuecatshim/RevenueCatShim"/>
    <framework custom="true" src="src/android/revenuecatshim.gradle" type="gradleReference" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="RevenueCatShim">
        <param name="ios-package" value="RevenueCatShim"/>
      </feature>
    </config-file>
    <source-file src="src/ios/RevenueCatShim.m"/>
    <framework src="Purchases" type="podspec" spec="~> 2.0.0" />
  </platform>
</plugin>
